<div class="container">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Titulo</label>
        <input type="email" class="form-control" [(ngModel)]="tutorial.nombre" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Descripcion</label>
        <input type="text" class="form-control" [(ngModel)]="tutorial.descripcion" id="exampleInputPassword1">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label class="form-label">Status: </label>
      {{tutorial.estado}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="publicarTuto()">Publicar</button>
      <button type="submit" class="btn btn-danger" (click)="eliminarTuto()">Eliminar</button>
      <button type="submit" class="btn btn-success" (click)="actualizarTuto()">Actualizar</button>
    </div>
  </div>

</div>
